h3{
    display: inline-block;
}

#timer{
    float: right;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.button{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}
#highScores a{
    font-family: Arial, sans-serif;
    color: blueviolet;
    text-underline-offset: 0;
    text-underline-position: unset;
    text-decoration: none;
}